RELAYER_PRIVATE_KEY=
PORT=8787
DB_PATH=data/inlet.db
POLL_INTERVAL_MS=3000
ARC_RPC=https://rpc.testnet.arc.io
BASE_SEPOLIA_RPC=https://sepolia.base.org
ARBITRUM_SEPOLIA_RPC=https://sepolia-rollup.arbitrum.io/rpc
